:root {
  --color-primary: #3E6FBF;
  --color-primary-dark: #1E2852;
  --color-secondary: #A4C639;
  --color-dark: #040404;
  --color-ligth-dark: #141414;
  --color-gray: #808080;
  --color-ligth-gray: #eee;
  --color-text-white: #EBEBEB;
  --color-white: #fff;
  --transition: 300ms ease-in-out;
  --gap: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}



footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--color-text-white);
}

footer a span {
  color: crimson;
}

.main-bg {
  /* background-image: url(./../assets/main-bg.svg); */
  background-image: url(./../assets/pattern-randomized.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: var(--color-white);
}

.white-bg {
  background: var(--color-ligth-dark);
  color: var(--color-dark);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.main-content h2 {
  font-size: 3rem;
}

.main-content h3 {
  font-size: 2rem;
}

.section {
  min-height: 100vh;
  padding-top: 6.5rem;
}

.section-head h2 {
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.section-head p {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {}

@media(max-width:576) {
  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-img img {
    width: 80%;
  }

}