:root {
  --color-primary: #317817;
  --color-dark: #040404;
  --color-white: #fff;
  --color-ligth-gray: #eee;
  --gap: 3rem;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid var(--color-ligth-gray);
  text-wrap: nowrap;
  padding: 1rem;
}

table tfoot, table th {
  background-color: var(--color-ligth-gray);
}

table caption {
  font-style: italic;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 1rem 0;
  text-align: left;
}

.main-bg {
  /* background-image: url(./../assets/main-bg.svg); */
  background-image: url(./../assets/green-vortex.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: var(--color-white);
}

.white-bg {
  background: var(--color-white);
  color: var(--color-dark);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.main-content h2 {
  font-size: 3rem;
}

.main-content h3 {
  font-size: 2rem;
}

.section {
  min-height: 100vh;
  padding-top: 6.5rem;
}

.section-head h2 {
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.section-head p {
  margin-bottom: 2rem;
}

.menu {
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--color-ligth-gray);
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--color-dark);
}

.menu h1 a {
  color: inherit;

}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;

}

.menu ul li a {
  display: block;
  color: var(--color-dark);
  text-transform: capitalize;
  font-size: 1.8rem;
  padding: 2rem;
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  left: 25%;
  width: 50%;

}

.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.intro-content {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img {
  width: 100%;
  margin: 0 auto;
}

.top3-content {
  max-width: 80rem;
  display: grid;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}


.top3jobs-content, .gallery-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.img-gallery {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.img-gallery img {
  transform: scale(0.95);
  transition: all ease-in-out 250ms;
}

.img-gallery img:hover {
  transform: scale(1.2) translate(-3%, 3%) rotate(5deg);
}

.responsive-table {
  border-radius: 0.8rem;
  overflow: none;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.contact-flex {
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-group h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  width: 100%;
  height: 50px;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .intro-content {
    grid-template-columns: 1fr;
  }

  .intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-img img {
    width: 80%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:576) {
  .grid {
    grid-template-columns: 1fr;
  }

  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-img img {
    width: 80%;
  }

}