:root {
  --color-primary: #3E6FBF;
  --color-primary-dark: #1E2852;
  --color-secondary: #A4C639;
  --color-secondary-dark: #91AE32;
  --color-dark: #040404;
  --color-dark-40: rgba(4, 4, 4, 0.4);
  --color-dark-overlay: rgba(4, 4, 4, 0.25);
  --color-ligth-dark: #141414;
  --color-gray: #808080;
  --color-ligth-gray: #eee;
  --color-text-white: #EBEBEB;
  --color-white: #fff;
  --transition: 300ms ease-in-out;
  --gap: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--color-text-white);
}

footer a span {
  color: crimson;
}

.main-bg {
  background-image: url(./../assets/pattern-randomized.svg);
  background-color: var(--color-dark-overlay);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: var(--color-white);
}

.white-bg {
  background: var(--color-ligth-dark);
  color: var(--color-dark);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.main-content h2 {
  font-size: 3rem;
}

.main-content h3 {
  font-size: 2rem;
}

.section {
  min-height: 100vh;
  padding-top: 6.5rem;
}

.section-head h2 {
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.section-head p {
  margin-bottom: 2rem;
  text-align: justify;
}

.destaque {
  color: var(--color-secondary);
  font-weight: 600;
}

.btn {
  padding: 1rem 2rem;
  transition: var(--transition);
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  font-size: 1.7rem;
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-white);
  border: 1px solid var(--color-secondary-dark);
}

@media (max-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .section-head h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-content {
    max-width: 100rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-img img {
    width: 80%;
  }

  .section {
    padding-top: 2.5rem;
  }
}

@media (max-width: 320px) {
  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-img img {
    width: 80%;
  }
}